html {font-size: 21.0px;}
@media only screen and (max-width: 1300px) {html {font-size: 20.8px;}}
@media only screen and (max-width: 1280px) {html {font-size: 20.6px;}}
@media only screen and (max-width: 1260px) {html {font-size: 20.4px;}}
@media only screen and (max-width: 1240px) {html {font-size: 20.2px;}}
@media only screen and (max-width: 1220px) {html {font-size: 20.0px;}}
@media only screen and (max-width: 1200px) {html {font-size: 19.8px;}}
@media only screen and (max-width: 1180px) {html {font-size: 19.6px;}}
@media only screen and (max-width: 1160px) {html {font-size: 19.4px;}}
@media only screen and (max-width: 1140px) {html {font-size: 19.2px;}}
@media only screen and (max-width: 1120px) {html {font-size: 19.0px;}}
@media only screen and (max-width: 1100px) {html {font-size: 18.8px;}}
@media only screen and (max-width: 1080px) {html {font-size: 18.6px;}}
@media only screen and (max-width: 1060px) {html {font-size: 18.4px;}}
@media only screen and (max-width: 1040px) {html {font-size: 18.2px;}}
@media only screen and (max-width: 1020px) {html {font-size: 18.0px;}}
@media only screen and (max-width: 1000px) {html {font-size: 17.8px;}}
@media only screen and (max-width: 980px) {html {font-size: 17.6px;}}
@media only screen and (max-width: 960px) {html {font-size: 17.4px;}}
@media only screen and (max-width: 940px) {html {font-size: 17.2px;}}
@media only screen and (max-width: 920px) {html {font-size: 17.0px;}}
@media only screen and (max-width: 900px) {html {font-size: 16.8px;}}
@media only screen and (max-width: 880px) {html {font-size: 16.6px;}}
@media only screen and (max-width: 860px) {html {font-size: 16.4px;}}
@media only screen and (max-width: 840px) {html {font-size: 16.2px;}}
@media only screen and (max-width: 820px) {html {font-size: 16.0px;}}
@media only screen and (max-width: 800px) {html {font-size: 15.8px;}}
@media only screen and (max-width: 780px) {html {font-size: 15.6px;}}
@media only screen and (max-width: 760px) {html {font-size: 15.4px;}}
@media only screen and (max-width: 740px) {html {font-size: 15.2px;}}
@media only screen and (max-width: 720px) {html {font-size: 15.0px;}}
@media only screen and (max-width: 700px) {html {font-size: 14.8px;}}
@media only screen and (max-width: 680px) {html {font-size: 14.6px;}}
@media only screen and (max-width: 660px) {html {font-size: 14.4px;}}
@media only screen and (max-width: 640px) {html {font-size: 14.2px;}}
@media only screen and (max-width: 620px) {html {font-size: 14.0px;}}
@media only screen and (max-width: 600px) {html {font-size: 13.8px;}}
@media only screen and (max-width: 580px) {html {font-size: 13.6px;}}
@media only screen and (max-width: 560px) {html {font-size: 13.4px;}}
@media only screen and (max-width: 540px) {html {font-size: 13.2px;}}
@media only screen and (max-width: 520px) {html {font-size: 13.0px;}}
@media only screen and (max-width: 500px) {html {font-size: 12.8px;}}
@media only screen and (max-width: 480px) {html {font-size: 12.6px;}}
@media only screen and (max-width: 460px) {html {font-size: 12.4px;}}
@media only screen and (max-width: 440px) {html {font-size: 12.2px;}}
@media only screen and (max-width: 420px) {html {font-size: 12.0px;}}
@media only screen and (max-width: 400px) {html {font-size: 11.8px;}}
@media only screen and (max-width: 380px) {html {font-size: 11.6px;}}
@media only screen and (max-width: 360px) {html {font-size: 11.4px;}}
@media only screen and (max-width: 340px) {html {font-size: 11.2px;}}
@media only screen and (max-width: 320px) {html {font-size: 11.0px;}}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  line-height: 135%;
  color: #222222;
}

code {
  font-size: 70%;
  color: #004d99;
}

pre code {
  color: inherit;
}

pre {
  background-color: #eeeeee;
  padding: 10px;
}

main {
  max-width: 35em;
  padding: 20px;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

.primary {
  display: block;
  padding: 0.5em 1em;

  text-align: center;
  width: 20em;
  background-color: #004d99;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.primary:hover {
  transform: scale(1.1);
}

.demo {
  max-width: 100%;
}